*{
    margin: 0;
    overflow-x: hidden
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,500;1,700&display=swap');
.fi-br-menu-burger{
color: white;
font-size: 3rem;
align-items: center;
}

html{
    font-family: 'Roboto Mono', monospace;

    
}
.buttonM, .carlao{
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    border: 0;
    background-color: transparent;
}
.header{
    background-color: rgb(49, 0, 92);
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
.itens{
    width: 35vw;
    display: flex;
    justify-content: space-between;
}
.menu{
align-content: center;
}
.p01{
    width: 100vw;
    font: 'Roboto Mono', monospace;;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgb(158, 1, 158), rgb(33, 0, 71));
    display: flex;
    
    justify-content: center;
    
    color: white;
    animation: ease infinite;
    animation-name: pinto;
    animation-duration: 10s;
    background-size: 400% 400%;
}

@keyframes pinto {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.coiso{
    margin: 3rem;
    justify-content: center;
    width: 65rem;
}
.p01 h1{
    justify-content: center;
    margin-bottom: 10rem;
    font-size: 8rem;
    -webkit-text-stroke:  1px white;
    color: transparent;
    
}

.p02{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://pbs.twimg.com/media/DosFtSMW4AAGw2d.jpg);
    height: 100vh;
    width: 100vw;
    color: red;
    font-size: 3rem    ;
}
.butao{
    text-decoration: none;
    color: transparent;

}
